* {
    margin: 0px;
    padding: 0px;
    font-family: Fira Sans;
}

body {
    background-color: rgb(245, 225, 225);
}

/* common css */
.btn {
    border: 1px solid #006A50;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: white;
}

.btn:hover {
    border: 2px solid rgb(170, 40, 159);
    color: #dddddd;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(255, 57, 189);
}

.colors-btn {
    border: 1px solid #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #006A50;
}

.colors-btn:hover {
    border: 1px solid #e7e7e7;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #6a1e00;
}

nav {
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    padding: 24px 160px;
    align-items: center;
}

nav h2 {
    font-size: 32px;
    font-family: Fira Sans;
    font-weight: bold;
    color: black;
}

.idea-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 970px;
    background-color: #c6e4df;
    margin: 5px auto 80px auto;
    padding: 60px 40px;
    border-radius: 24px;
}

.idea-container img {
    width: 48%;
}

section .description {
    width: 48%;
}

.description .title {
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.description .sub-title {
    font-weight: bold;
    font-size: 50px;
    color: rgba(14, 14, 14, 1);
    margin: 8px auto;
}

/* Pillars of Bangladesh */
.pillars-section {
    max-width: 1060px;
    margin: 80px auto;
}

.pillar-header {
    font-size: 40px;
    font-weight: bold;
}

.pllars-container {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.pillar-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    /* margin: 5px; */
}

.pillar-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 10px;
}

.pillar {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    max-width: 302px;
    height: 200px;
}

.pillar .digital-trans img {
    width: 50px;
    height: 50px;
}

/* The vision of Future */
.vision-container {
    max-width: 1060px;
    height: 765px;
    margin: 0px auto 40px auto;
}

.vision-pillars {
    display: flex;
    margin: 32px auto;
    gap: 24px;
}

.vision-footer {
    background-color: white;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 24px 48px;
    border-radius: 16px;
}

.digital-trans {
    background-color: rgba(84, 144, 245, 0.2);
    border: 1px solid rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.digital-trans2 {
    background-color: rgba(198, 228, 214, 1);
    border: 1px solid rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 32px;
}

.digital-trans3 {
    background-color: rgba(247, 235, 207, 1);
    border: 1px solid rgba(247, 235, 207, 1);
    border-radius: 16px;
    padding: 32px;
}

.title-subtitle {
    margin: 24px 0px 24px 0px;
}

.colors-btn1 {
    border: 1px solid rgba(84, 144, 245, 1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
}

.colors-btn1:hover {
    border: 1px solid rgb(235, 235, 235);
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(255, 57, 189);
}

.colors-btn2 {
    border: 1px solid rgba(9, 161, 92, 1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
}

.colors-btn2:hover {
    border: 3px solid rgb(76, 218, 57);
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(255, 57, 189);
}

.colors-btn3 {
    border: 1px solid rgba(255, 194, 57, 1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
}

.colors-btn3:hover {
    border: 1px solid rgb(55, 170, 40);
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(255, 57, 189);
}

/* Opinion container */
.opinion-container {
    max-width: 1060px;
    height: 481px;
    margin: 0px auto 60px auto;
}

.form-container {
    background-color: white;
    padding: 32px;
    margin-top: 24px;
    border-radius: 16px;
}

.question-sec {
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    padding: 24px;
}

.item-container {
    display: flex;
}

.item {
    border: 1px solid rgba(34, 34, 34, 0.1);
    padding: 24px 150px 24px 24px;
    /* max-width: 100%; */
    max-width: 1260px;
}

.item label {
    font-size: 16px;
    font-weight: 500;
}

.item-box {
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-left: none;
    padding: 24px;
}

.item-box select {
    border: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 35px 10px 10px;
    background-color: rgba(198, 228, 214, 1);
}

/* recent news section */
.recent-section {
    max-width: 1060px;
    margin: 0px auto 60px auto;
}

.first-part {
    display: flex;
    margin: 24px auto;
    padding: 48px;
    gap: 32px;
    background-color: white;
    border-radius: 24px;
    align-items: center;
}

.first-part img {
    border-radius: 24px;
}

.content h2 {
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

.content img {
    max-width: 130px;
    height: 35px;
    margin: 8px auto;
}

.content .dte,
span {
    font-size: 16px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    color: rgba(14, 14, 14, 0.7);
}

.content .des {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    margin-bottom: 32px;
}

/* donate container */
.donate-section-container {
    max-width: 1060px;
    margin: 0px auto 60px auto;
    text-align: center;
}

.taka-container {
    display: flex;
    justify-content: center;
    /* gap: 24px; */
}

.taka-container h1 {
    background-color: white;
    border-radius: 16px;
    padding: 20px 30px;
    margin: 32px 18px 32px 18px;
    font-size: 20px;
    font-weight: bold;
    max-width: 200px;
    max-height: 10px;
}

.taka-container .colors-taka {
    background-color: rgba(198, 228, 214, 1);
}

.added-others-amount {
    color: rgba(14, 14, 14, 0.3);
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 400;
    max-width: 800px;
    margin: 0px auto 32px auto;
}

/* newsletter section */
.newsletter {
    max-width: 1060px;
    margin: 0px auto 60px auto;
    background-color: rgba(198, 228, 214, 1);
    padding: 80px 100px;
    text-align: center;
    border-radius: 24px;
}

.newsletter .pillar-sub-title {
    margin: 20px 0px;
}



.email-added {
    color: #ffffff;
    font-size: 18px;
    padding: 18px 40px;
    border-radius: 8px;
    background-color: white;
    border: none;
    margin-right: 0px;
    height: 25px;
}

.submit-btn {
    border: 1px solid #006A50;
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    margin-left: 0px;
    border-radius: 8px;
    height: 60px;
}

/* footer section */
footer {
    max-width: 100%;
    background-color: white;
    text-align: center;
    margin: auto;
    padding: 50px 160px;
}

footer li {
    list-style: none;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer .pillar-header {
    font-size: 32px;
}