* {
    margin: 0px;
    padding: 0px;
    font-family: Fira Sans;
}

body {
    background-color: rgb(245, 225, 225);
}

/* common css */
.btn {
    border: 1px solid #006A50;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: white;
}

.colors-btn {
    border: 1px solid #006A50;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: #006A50;
}

nav {
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
    padding: 24px 160px;
    align-items: center;
}

nav h2 {
    font-size: 32px;
    font-family: Fira Sans;
    font-weight: bold;
    color: black;
}

.idea-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 970px;
    background-color: #c6e4df;
    margin: 5px auto 80px auto;
    padding: 60px 40px;
    border-radius: 24px;
}

.idea-container img {
    width: 48%;
}

section .description {
    width: 48%;
}

.description .title {
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}

.description .sub-title {
    font-weight: bold;
    font-size: 50px;
    color: rgba(14, 14, 14, 1);
    margin: 8px auto;
}

/* Pillars of Bangladesh */
.pillars-section {
    max-width: 1060px;
    margin: 80px auto;
}

.pillar-header {
    font-size: 40px;
    font-weight: bold;
}

.pllars-container {
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.pillar-title {
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    /* margin: 5px; */
}

.pillar-sub-title {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 10px;
}

.pillar {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    max-width: 302px;
    height: 200px;
}

.pillar .digital-trans img {
    width: 50px;
    height: 50px;
}

/* The vision of Future */
.vision-container {
    max-width: 1060px;
    height: 765px;
    margin: 0px auto 40px auto;
}

.vision-pillars {
    display: flex;
    margin: 32px auto;
    gap: 24px;
}

.vision-footer {
    background-color: white;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding: 24px 48px;
    border-radius: 16px;
}

.digital-trans {
    background-color: rgba(84, 144, 245, 0.2);
    border: 1px solid rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.digital-trans2 {
    background-color: rgba(198, 228, 214, 1);
    border: 1px solid rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 32px;
}

.digital-trans3 {
    background-color: rgba(247, 235, 207, 1);
    border: 1px solid rgba(247, 235, 207, 1);
    border-radius: 16px;
    padding: 32px;
}

.title-subtitle {
    margin: 24px 0px 24px 0px;
}

.colors-btn1 {
    border: 1px solid rgba(84, 144, 245, 1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
}

.colors-btn2 {
    border: 1px solid rgba(9, 161, 92, 1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
}

.colors-btn3 {
    border: 1px solid rgba(255, 194, 57, 1);
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
}

/* Opinion container */
.opinion-container {
    max-width: 1060px;
    height: 481px;
    margin: 0px auto 60px auto;
}

.form-container {
    background-color: white;
    padding: 32px;
    margin-top: 24px;
    border-radius: 16px;
}

.question-sec {
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 228, 214, 1);
    padding: 24px;
}

.item-container {
    display: flex;
}

.item {
    border: 1px solid rgba(34, 34, 34, 0.1);
    padding: 24px 150px 24px 24px;
    /* max-width: 100%; */
    max-width: 1260px;
}

.item label {
    font-size: 16px;
    font-weight: 500;
}

.item-box {
    border: 1px solid rgba(34, 34, 34, 0.1);
    border-left: none;
    padding: 24px;
}

.item-box select {
    border: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 35px 10px 10px;
    background-color: rgba(198, 228, 214, 1);
}